body{
    background-color: black;
}
.poster{
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-align: center;
}
.motivation_img{
    width: 100%;
    border: 6px solid red;
}
h1{
    text-transform: uppercase;
}
